:root {
    --primario: #0000FF;
    --secundario: #ABDB2A;
    --colorFondo: #121212;

    --fuentePrincipal: .pacifico-regular {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
      }
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

.header {
    margin-bottom: 0;
}

.header__titulo {
    color: var(--primario);
    text-align: center;
    font-size: 3.8px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

.pista {
    color: var(--primario);
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

.contenedor__video {
    margin-top: 0;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video {
    width: 80%;
    height: 80%;
    border: .1rem solid var(--primario);
    background-color: var(--primario);


}

@media (min-width: 768px) {
    .contenedor__video {
        display: flex;
        justify-content: center;
    }
}